
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.background {
    height: 40vh;
    width: 100vw;
}

.background img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.drawing {
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
}

.tablet_down {
    position: fixed;
    height: 250px;
    bottom: 30%;
    
    width: 40vw;
    background-color: #f797bd;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    transform: perspective(20px) rotateX(2deg) translateY(5px);
    transition: all 1s ease;
}

.controles{
    height: 100%;
    width: 5%;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    border-right: 1px solid pink;
}

.controles div {
    box-shadow: -1px 1px 1px 1px #f53d86;
    border: 1px solid f53d86;
}

.btn_cuadrado {
    height: 10%;
    width: 60%;
    border-radius: 10px;
    background-color: #f2bdd2;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn_redondo {
    height: 12%;
    width: 75%;
    border-radius: 50px;
    background-color: #f2bdd2;
}

.test:active .btn_redondo{
    display: none;
}

.display {
    height: 100%;
    width: 93%;
    align-items: center;
    justify-content: center; 
}

.screen {
    height: 95%;
    width: 97%;
    box-shadow:
    0 0 10px #fff,
    0 0 20px #fff;
    border-radius: 15px;
    --gap: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    background-image: url("/background4.jpg");
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    border: 2px solid black;
}

.display_active {
    display: none;
}

.display_sleep {
    display: flex;
}

.display_comission {
    display: none;
}

.screen_active {
    object-fit: contain;
    overflow: scroll;
}

.screen_sleep {
    align-items: center;
}

.screen_sleep p {
    position: fixed;
    font-size: 2em;
    font-weight: 700;
    color: #f100bd;
    z-index: 2;
    bottom: 5%;
}

.screen_sleep img {
    height: 60%;
    position:absolute;
    border-radius: 50%;
    border: 3px solid palevioletred;
}

.screen::-webkit-scrollbar {
    display: none;
  }

.screen_active img {
    height: 98%;
    border-radius: 5px;
    object-fit: contain;
    box-shadow:
    0 0 10px #ff2cdf,
    0 0 20px #ff2cdf;
    border: 2px solid black;
}

.drawing:hover .tablet_down{
    position: fixed;
    bottom: 0%;
    height: 60vh;
    width: 100vw;
    background-color: #f797bd;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    transform: none;
    transition: all 1s ease;
}




/*body {
    background: linear-gradient(#ff97ef , #beecff);
    height: 100vw;
    width: 150px;
    border-radius: 5px;
    border: 2px solid white;
}*/